@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.card {
  background-color: #bfefe4;
  border: 2px solid #ced4da;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out,  box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 25px;
}

.card:hover {
    transform: scale(1.05);
    z-index: 998;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border: 2px solid #28a745;
  }  

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.btn {
  background-color: #008db4;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #008db4;
}

.cartBtn {
  background-color: #088dca;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.cartBtn:hover {
  background-color: rgb(255, 255, 255);
  color:  #008db4;
}

select {
  background-color: #008db4;
}